<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>backbone music app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/bootsketch/build/css/bootsketch.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header text-center">
            <a class="navbar-brand text-center" href="/">My Backbone Music App</a>
          </div>
        </div><!-- /.container-fluid -->
      </nav>
    </header>


    <section class="content">
        <div class="container-fluid">


          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <aside id="navigator">
                <form role="search">
                  <div class="form-group">
                    <input type="text" class="form-control search-box" placeholder="Search">
                  </div>
                </form>
                <div class="list-group">
                  <a href="#/songs" ref="songs" class="list-group-item active">
                    Songs
                  </a>
                  <a href="#/artists" ref="artists" class="list-group-item">Artists</a>
                  <a href="#/albums" ref="albums" class="list-group-item">Albums</a>
                </div>
              </aside>
            </div>
            <div class="col-xs-12 col-sm-9">
              <div id="main-content">

              </div>

            </div>
          </div>

        </div>
    </section>

    <footer>
      <div id="player">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <ul class="list-inline">
                <li><a href="" title="Previous Track" class="prev"><i class="glyphicon glyphicon-step-backward"></i></a></li>
                <li><a href="" title="Play" class="play-pause"><i class="glyphicon glyphicon-play"></i></a></li>
                <li><a href="" title="Next Track" class="next"><i class="glyphicon glyphicon-step-forward"></i></a></li>
              </ul>



            </div>
            <div class="col-xs-12 col-sm-9">
              <div id="player-status">
                <!-- Template #player-status-tmpl -->
              </div>
            </div>
          </div>
        </div>
      </div>


    </footer>

    <script type="text/template" id="player-status-tmpl">
      <div class="row">
        <div class="col-xs-8">
          <h4><%= title %></h4>
        </div>
        <div class="col-xs-4 text-right">
          <strong class="total-time"><%= duration.minutes %>:<%= duration.seconds %></strong>
        </div>
      </div>
      <div class="row">
        <div id="progress"></div>
      </div>
    </script>
    <script type="text/template" id="progress-tmpl">
      <a class="progress" href="#">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= value %>%;">
          <%= time.minutes %>:<%= time.seconds %>
        </div>
      </a>
    </script>

    <script type="text/template" id="songs-view-tmpl">
        <h3>Songs</h3>
        <div class="panel panel-primary">
          <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Track Name</th>
                </tr>
              </thead>
              <tbody>
                <% _.each(songs, function(song) { %>
                  <tr data-id="<%= song.id %>" class="<% if(song.isPlaying) { %>active<% } %>">
                    <td><%= song.id %></td>
                    <td><%= song.title %></td>
                  </tr>
                <% }); %>
              </tbody>
          </table>
        </div>
    </script>

    <script type="text/template" id="artists-view-tmpl">
          <h3>Artists</h3>
          <div class="row">
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/artist.jpeg" alt="Bob Marley">
                <div class="caption">
                  <h5>Bob Marley</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </script>

    <script type="text/template" id="albums-view-tmpl">
          <h3>Albums</h3>
          <div class="row">
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/album.jpg" alt="Bloom">
                <div class="caption">
                  <h5>In Bloom</h5>
                  <span>NSFW</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/album.jpg" alt="Bloom">
                <div class="caption">
                  <h5>In Bloom</h5>
                  <span>NSFW</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/album.jpg" alt="Bloom">
                <div class="caption">
                  <h5>In Bloom</h5>
                  <span>NSFW</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/album.jpg" alt="Bloom">
                <div class="caption">
                  <h5>In Bloom</h5>
                  <span>NSFW</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/album.jpg" alt="Bloom">
                <div class="caption">
                  <h5>In Bloom</h5>
                  <span>NSFW</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/album.jpg" alt="Bloom">
                <div class="caption">
                  <h5>In Bloom</h5>
                  <span>NSFW</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/album.jpg" alt="Bloom">
                <div class="caption">
                  <h5>In Bloom</h5>
                  <span>NSFW</span>
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/album.jpg" alt="Bloom">
                <div class="caption">
                  <h5>In Bloom</h5>
                  <span>NSFW</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="thumbnail">
                <img src="images/album.jpg" alt="Bloom">
                <div class="caption">
                  <h5>In Bloom</h5>
                  <span>NSFW</span>
                </div>
              </div>
            </div>

          </div>
    </script>




    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/bootsketch/build/js/vendors.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script>var MusicApp = {};</script>
    <script src="scripts/models/Song.js"></script>
    <script src="scripts/collections/Songs.js"></script>
    <script src="scripts/views/NavigatorView.js"></script>
    <script src="scripts/views/PlayerView.js"></script>
    <script src="scripts/views/SongsView.js"></script>
    <script src="scripts/views/ArtistsView.js"></script>
    <script src="scripts/views/AlbumsView.js"></script>
    <script src="scripts/routers/MainRouter.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
</body>
</html>
